*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3333;
    font-family: "Poppins" ,sans-serif;
    font-size: small;
    line-height: 1.5;
}
#main{
    text-align: center;
    padding: 20px;
}
#title{
    text-align: center;
    margin: 0;
}
header{
    height: 100px;
 
}

header>p{
    text-align: center;
}

.bold{
    font-weight: bold;
}

#img-div{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}
#img-div>p{
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption{
    padding: 10px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#tribute-info{
    max-width: 90%;
    padding: 20px;
}

#start-text{
    padding-bottom: 20px;
}
#tribute-info  li{
 padding-top:10px;
 text-align: left;
}


#tribute-link {
    
    color: rgb(172, 64, 239);
}
  
ul {
    list-style-type: disc; /* Use a filled circle as the marker */
}
  
ul li {
    margin-left: 20px; /* Add some left margin for better readability */
}

.Mainpoint{
    padding-top: 30px;
    padding-bottom: 40px;
}

footer{
    padding-left: 30px;
    padding-right: 30px;
}

